<div class="container">
  <div class="row">
    <div class="col-4" style="height: 250px">
      <% if review.image.attached? %>
          <%= image_tag review.image, class: "rounded h-100 w-100"%>
      <% end %>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <h2><%= review.name%></h2>
        <div style="height: 1.5rem">
          <% if current_user == review.user%>
            <%= link_to "このレビューを削除する", review, method: :delete, data: {confirm: "削除してよろしいですか？"}, class: "btn btn-danger btn-sm" %>
          <% else %>
            <%= render "favorites/favorite_button", review: review %>
          <% end %>
        </div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>プリンの固さ</th>
          <td><%= review.hardness%></td>
        </tr>
        <tr>
          <th>プリンの濃厚さ</th>
          <td><%= review.richness%></td>
        </tr>
        <tr>
          <th>キャラメル</th>
          <td><%= review.caramel%></td>
        </tr>
      </table>
      <div class="d-flex justify-content-between">
        <%= link_to "レビュー詳細を見る", review, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>