<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1><%= @review.name %>の詳細ページ</h1>
    </div>
    <div class="col-md-3 d-flex h-75 justify-content-end align-self-center mb-3">
      <% if current_user == @review.user%>
        <%= link_to "このレビューを削除する", @review, method: :delete, data: {confirm: "削除してよろしいですか？"}, class: "btn btn-danger btn-block" %>
      <% end %>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-7 col-12">
      <div  style="height: 400px" class="mb-3">
        <% if @review.image.attached? %>
            <%= image_tag @review.image, class: "rounded h-100 w-100"%>
        <% end %>
      </div>
      <div class="d-md-flex d-none justify-content-between">
        <%= link_to "店舗詳細に戻る", @review.shop, class: "btn btn-primary btn-block" %>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <table class="table table-bordered">
        <tr>
          <th>プリンの固さ</th>
          <td><%= @review.hardness%></td>
        </tr>
        <tr>
          <th>プリンの濃厚さ</th>
          <td><%= @review.richness%></td>
        </tr>
        <tr>
          <th>キャラメル</th>
          <td><%= @review.caramel%></td>
        </tr>
      </table>
      <div class="d-flex d-md-none justify-content-between mt-3 mb-5">
        <%= link_to "店舗詳細に戻る", @review.shop, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>
